---
import Layout from '../layouts/Layout.astro';
import { InteractiveConstellation } from '../features/constellation';
import { mockData } from '../data/mockData';
import { calculateNodePositions } from '../features/constellation/utils';
import '../styles/index.css';

const nodePositions = calculateNodePositions(mockData);
---

<Layout title="Cosmic Mind Map">
  <main>
    <div id="constellation-root">
      <InteractiveConstellation client:only="react" initialNodes={nodePositions} />
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  #constellation-root {
    width: 100%;
    height: 100%;
  }
</style>